<div id="am_banner">
</div>
<div id="am_menu" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#home">首頁</a></li>
                    <li><a href="#schedule">行事曆</a></li>
                    <li><a href="#customers">客戶資料</a></li>
                    <li><a href="#">目標設定</a></li>
                    <li><a href="#">保險資料庫</a></li>
                    <li><a href="#">訂閱頻道</a></li>
                    <li><a href="#">設定</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content_panel">
</div>


    