// grey color
$dark_grey:   #6D6D6D;
$middle_grey: #CED0D0;
$light_grey:  #F2F2F2;

// red color
$background_red: #CD0940;
$dark_blue: #313c44;

$shadow_color: #221919;

//  white color
$background_white: #ffffff;

@import "compass/reset";
@import "compass/utilities";

input[type="text"]{padding:4px 6px;}
