// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@mixin menu_highlight {
	@include background-image(linear-gradient($light_grey, $dark_green));
	color: white;
	border: 1px solid $dark_green_border;
	@include border-radius(3px);
}

body {
	word-wrap: break-word;
	font-size:15px ;
	color:#666;
	font-family:Verdana,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
	background: $light_grey
}

#content_panel {
	background: $light_grey;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	display: block;

	.toolbar {
		height: 40px;
	}
	/*input[type="text"] {
		margin-bottom: 0;
	}*/
}

form.form-horizontal .control-group {
	margin-bottom: 10px;
	/*.radio.inline, .checkbox.inline {
		width: 80px;
	}*/
}

/* table data
---------------------------------------------------------*/
table.data{font-size:15px;color:#000}

table.data th{background:#CED0D0;color:#000;font-size:15px;text-align:center}

table.data td,table.data th{padding:5px 0px;border:2px solid #fff}

table.data td{text-align:center}

table.data td.s1{background:#FFCC00}
table.data td.s2{background:#FF99BB}
table.data td.s3{background:#8DD4F2}

/* table data-1
---------------------------------------------------------*/
table.data-1{font-size:24px;color:#000}
table.data-1 td{padding:5px 0px;}

table.data-1 .nu{color:#FF0000;font-size:55px;line-height:55px;}
