@import "base";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

.wrap{
	width:980px;
	margin:0 auto; 
	overflow:hidden;
}

#header {
	height: 93px;
	display: block;
	font-size:14px ;
	line-height:1.3em;
	font-family: "Helvetica Neue",Trebuchet MS,微軟正黑體,"Microsoft JhengHei";
	
	background:url(../images/header_red.png) repeat-x;
	a {
		color:#0873b9;
		text-decoration:none;
	}
	.logo {
		width:300px;
		height:57px;
		display:block;
		margin-top:18px;
		background:url(../images/logo.png) no-repeat left top;
		margin-bottom:18px;
		float:left;
	}
	.top-nav{
		float:right;
		margin-top:36px;
		li{
			list-style:none;
			float:left;
			@include border-radius(20px);
			margin-left:10px;
			background:url(../images/account-nav.png) repeat-x left top #2daae7;
			padding:3px 8px 4px 15px;
			border:1px solid #1a8ab3;
			line-height:18px;
			&:hover{
				background:url(../images/account-nav-h.png) repeat-x left top #44c6ef;
			}
			a{
				display:block;
				color:#fff;
				text-decoration:none;
				padding:0px 8px 0px 18px;
				text-shadow:1px 1px 0px #525252;
				&.signup {
					background:url(../images/icon-1.png) no-repeat 0 3px;
				}
				&.login {
					background:url(../images/icon-1.png) no-repeat 0 -24px;
				}
			}
		}		
	}
}

.main-nav { 
	overflow:hidden;  
	//background:$dark_blue;
	background:url(../images/header_black.png) repeat-x;
	font-size:17px;
	height:41px;
	font-family: "Helvetica Neue",Trebuchet MS,微軟正黑體,"Microsoft JhengHei";
	ul {
		margin: 0px auto;
		display: table;
		width: 80%;
		float: left;
	}
	li {
		background:url(../images/line-1.png) repeat-y left top;
		display:table-cell;
		vertical-align:middle;
		width: 1%;
		height:39px;
		a {
			color:white;  
			text-decoration:none;
			text-align: center;
			display: block;
		}
		&:hover, &.active {
			background:url(../images/nav-h.png) repeat-x top left;
			a{
				color:#313c44;
			}
		}
	}
}

